<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">Back to Menu</button>
            <div class="media-left media-middle">
                <a ui-sref="app.menu">
                    <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Dish">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{dish.name}}
                    <span class="label label-danger">{{dish.label}}</span>
                    <span class="badge">{{dish.price | currency}}</span></h2>
                <p>{{dish.description}}</p>
            </div>
        </div>

        <div class="col-xs-9 col-xs-offset-1">
            <h3>Costumer comments</h3>
            <p>Sort by: <input type="text" ng-model="orderText"></p>
            <ul class="media-list">
                <li class="media" ng-repeat="cmt in dish.comments | orderBy:orderText">
                    <blockquote>
                        <h4>{{cmt.rating}} Stars</h4>
                        <p>{{cmt.comment}}</p>
                        <footer>{{cmt.author}}, {{cmt.date | date}}</footer>
                    </blockquote>
                </li>
            </ul>
        </div>

        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <li class="media" ng-show="commentForm.$valid && !commentForm.$pristine">
                    <blockquote>
                        <h4>{{newComment.rating}} Stars</h4>
                        <p>{{newComment.comment}}</p>
                        <footer>{{newComment.author}}</footer>
                    </blockquote>
                </li>
            </ul>
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="newComment.author" required>
                        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">No. of Stars</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="rating" value="1" ng-model="newComment.rating">1</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="2" ng-model="newComment.rating">2</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="3" ng-model="newComment.rating">3</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="4" ng-model="newComment.rating">4</label>
                        <label class="radio-inline"><input type="radio" name="rating" value="5" ng-model="newComment.rating">5</label>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-2 control-label">Your Feedback</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="newComment.comment" required></textarea>
                        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">A comment is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Feedback</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>